<section class="section" data-section-id="{{ section.id }}" data-section-type="heureka">
  <div class="container">
    <h1>Ověřeno našimi zákazníky</h1>
  </div>
  </section>


{% schema %}
{
  "name": "Heureka reviews",
  
  "settings": [
  ],
  "presets": [
    {
      "category": "heureka",
      "name": "Heureka reviews",
      "settings": {}
    }
  ]
}
{% endschema %}