<span
 class="junip-review-section"
 style="display: none"
 data-layout={{section.settings.layout}}>
  <span class="junip-review-section-wrapper"></span>
</span>
{% schema %}
  {
    "name": "Junip Reviews",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          { "value": "list", "label": "List"},
          { "value": "grid", "label": "Grid"}
        ],
        "default": "list",
        "info": "The layout of the reviews"
      }
    ],
    "presets": [
      {
        "name": "Junip Reviews",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}
